body{
    background-color: rgb(215, 205, 205);
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
   width: 30vw;
   height: 70vh;
    border: none;
    margin: auto;
    border-radius: 10px;
    gap: 2px;
    background-color: #000000;
    display: grid;
    padding: 10px;
    
}
.calculator>.container{
      display: flex;
    gap: 2px;
    justify-content: space-between;
    
}
button{
    width: 100px;
    text-align: center;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(171, 212, 198);
   
}
button:hover{
    background-color: rgb(175, 192, 204);
}


input{
    width: 100%;
    font-size: 40px;
    padding-right: 10px;
    text-align: end;
    
margin-bottom: 10px;
    background-color: #e4edf4;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px black;
}
.zero{
    width: 200px;
    background-color: rgb(53, 231, 18);
    color: orangered;
    
   
}
.zero:hover{
    background-color: rgb(6, 255, 31);
}
.clear{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: 700;
}
.fas{
    color: rgb(3, 7, 255);
    
}
.fa-arrow-circle-left{
    color: #000000;
}